# Node modules
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
frontend/.env

# Build folders
frontend/build/
backend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/
